//ag Unas variables
    $text-primary:rgb(202, 7, 137) ;
    $text-secondary: #fff;
    $bg-primary: rgb(46, 45, 45);;
    $bg-secondary: #000;
    $speed-transation: 500ms;

:root{  //ps No sé si el raíz ha de estar en el componente principal o en cada componente.
    font-size: 16px;
}

    *{
        z-index: 50;
    }

ul{
    list-style-type:none;
}
.navbar{ //<nav>
    position:fixed;
    background-color: $bg-primary;
    color: $text-primary;
    transition: $speed-transation;
    
&:hover{
    .logo{
        background-color: $bg-secondary;
        .nav-link{
            filter: grayscale(0%) opacity(1);
        }
        .link-text{
            margin-left: 2rem;
            color: $text-secondary;
        }
        svg{
            transform: rotate(-360deg);
        }
    }
}
}
.navbar-nav{ //<ul>
    margin: 0;
    padding: 0;
    height: 100%;   //pl Con esto ajusto todo al cambiante tamaño del navbar.
    width: 100%;    //pl Tanto a lo alto, para el logout, y el ancho.
    display:flex;   //bi Funciona sin el display, pero por si las moscas.
    flex-direction: column;
}
.nav-item{ //<li>
    width: 100%;
/*
    .desplegable{ //pl Menú desplegable escondido.
        display:none;
    }
&:hover{
    .desplegable{ //pl Menú desplegable a la vista.
        display: block; 
    }
}
*/
}
.ultimoHijo{ // <li> El último.
    margin-top:auto;    //ha Mando el último hijo abajo del todo.
}
.logo{  // <li> El primero.
    font-weight: bold;
    margin-bottom: 1rem;
    color: $text-secondary;
    background-color: $bg-primary;
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;

    svg{
        transform: rotate();
        transition: 2000ms;
    }
}
.nav-link{ // <a>
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    height: 4rem;
    color: $text-primary;
    text-decoration: none;
    filter: grayscale(80%) opacity(0.7);
    transition: $speed-transation;

    .link-text{ // <span>
            display:none; //pl Hacemos desaparecer el texto.
        }
    svg{margin: 1.5rem;}

&:hover{
    filter: grayscale(0%) opacity(1);
    background-color: $bg-secondary;    
} 
}

/* Pantallas pequeñas */
@media only screen and (max-width: 600px){
.navbar{ // <nav>
    top: 0;      //pl La mando abajo.
    width: 100vw;   //pl A lo ancho, completo.
    height: 5rem;   //pl A lo alto, 5 rem.
}

.logo{
    display:none;   //pl Adiós a la rueda.
}
.navbar-nav{ // <ul> 
    flex-direction: row;
}
.nav-link{  // <a>
    justify-content: center; //pl Iconos al centro.
}
}

/* Pantallas grandes */
@media only screen and (min-width: 600px){
.navbar{ // <nav>
    top: 0; //pl La mando arriba.
    width: 5rem;    //pl A lo ancho, 5 rem.
    height: 100vh;  //pl A lo alto, completo.
    margin: 0;
    padding: 0;
    
&:hover{
    width: 14rem;
    .link-text{
        display:inline;
        transition: opacity($speed-transation);
    }
    .nav-link:hover{
        .link-text{
            color: $text-secondary;
        }
    }
}
}

//ps El espacio que queda se debe al margen del class="container" en el index.

.rojo{
    background-color: red;
}

.borde{
    border-style: solid;
    border-color: yellow;
}
}