:root{ //ps Por si las moscas se lo coloco aquí también.
    font-size: 16px; 
    
}
*{
    margin: 0;
    padding: 0;
}

#cuerpo{
    margin-left: 5rem;              //fu Con esto dejamos espacio para la barra de navegación.
}

