<!-- Sun-20/12 05:07:44 El login, email y contraseña. -->

<div class="flex-container">
    <div class="cuadro">
        
<!-- ps EMPIEZA FORMULARIO -->
        <form class="mb-3" [formGroup]="formulario" (ngSubmit)="comprobarUsuario()">

<!-- ag EMAIL -->
<!-- ag Tendrá un mensaje para el error por requerido y por el patrón. -->
            <label for="inEmail" class="form-label">Email:</label>
            <input  type="email" class="form-control"  placeholder="Correo electrónico" 
                    id="inEmail"
                    formControlName="email">
<!-- fu ERRORES -->
            <div class="error" *ngIf="formulario.controls.email.errors?.required && formulario.controls.email.touched">
                Este campo es obligatorio.
            </div>
            <div class="error" *ngIf="formulario.controls.email.errors?.pattern">
                Esta dirección no es válida.
            </div>
            
<!-- bi CONTRASEÑA -->
<!-- bi Tendrá un mensaje para el error por requerido y por longitud mínima. -->
            <label for="inContra" class="form-label">Contraseña</label>
            <input  type="password" class="form-control"  placeholder="Contraseña" 
                    id="inContra"
                    formControlName="password">
<!-- fu ERRORES -->
            <div class="error" *ngIf="formulario.controls.password.errors?.required && formulario.controls.password.touched">
                Este campo es obligatorio.
            </div>
            <div class="error" *ngIf="formulario.controls.password.errors?.minlength">
                La longitud mínima es de {{formulario.controls.password.errors.minlength.requiredLength}}.
            </div>
        <br>
<!-- ac BOTÓN SUBMIT -->
            <button class="btn btn-primary" type="submit" 
                    [disabled]="false"> Login </button>

        </form>
<!-- ps TERMINA FORMULARIO -->

        Valido: {{formulario.status}}

    </div>
</div>