.error{
    color: red;
    background-color: green;
    font-size: 0.8em;
    text-align: center;
  }

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
    
.cuadro { 
  background-color: rgba($color: silver, $alpha: 0.8);
  padding: 1rem;
  border-radius: 25px;
}

textarea{
  resize:none;
}