<!-- Sun-27/12 03:12:23  -->
<div class="flex-container m-5">
    <div class="cuadro">

<!-- ps EMPIEZA FORMULARIO -->
<form action="#" [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="row">

<!-- ac NOMBRE -->
        <div class="col-12">
            <label for="inNombre">Ingrediente:</label>
            <input type="text" class="form-control" placeholder="Ingrediente"
            formControlName="nombre" id="inNombre">
<!-- fu ERRORES -->
            <div class="error"
            *ngIf=" formulario.controls.nombre.errors?.required &&
                    formulario.controls.nombre.touched"
            >Este campo es oblitagorio.</div>
        </div>

<!-- bi PROVEEDOR -->
        <div class="col-6">

            <label for="inProveedor">Proveedor:</label>
            <select class="form-select" 
            formControlName="proveedor" id="inProveedor">
                <option value="" selected disabled hidden>Seleccione un proveedor.</option>
<!-- bi Esto la pondrá como valor por defecto, pero no será seleccinable. -->
                <option value="1">Jumbo</option>
                <option value="2">Lidl</option>
                <option value="3">Aldi</option>
            </select>

<!-- fu ERRORES -->
            <div class="error"
            *ngIf=" formulario.controls.proveedor.errors?.required &&
                    formulario.controls.proveedor.touched">
                    Este campo es obligatorio
            </div>
        </div>

<!-- ag PRECIO -->    
        <div class="col-6">
            <label for="inPrecio">Precio:</label>
            <input type="number" class="form-control" min="0" step="0.01"
            formControlName="precio" id="inPrecio">

        <!-- fu ERRORES -->
            <div class="error"
            *ngIf=" formulario.controls.precio.errors?.required &&
                    formulario.controls.precio.touched">
                    Este campo es obligatorio.
            </div>
        </div>

<!-- dr FECHA DE LA COMPRA -->
        <div class="col-6">
            <label for="inFechaCompra">Comprado a:</label>
            <input type="date" class="form-control"
            formControlName="fecha_compra" id="inFechaCompra">

<!-- fu ERRORES -->
            <div class="error"
            *ngIf=" formulario.controls.fecha_compra.errors?.required &&
                    formulario.controls.fecha_compra.touched">
                    Este campo es obligatorio
            </div>

        </div>

<!-- el FECHA CADUCIDAD -->
        <div class="col-6">
                <label for="inFechaCaducidad">Caduca a:</label>
                <input type="date" class="form-control"
                id="inFechaCaducidad"
                formControlName="fecha_caducidad" >
          
        </div>

<!-- fa CANTIDAD -->
        <div class="col-6">
            <label for="inCantidad">Cantidad comprada:</label>
            <input type="number" class="form-control" min="0"
            id="inCantidad"
            formControlName="cantidad">

<!-- fu ERRORES -->
            <div class="error"
            *ngIf=" formulario.controls.cantidad.errors?.required &&
                    formulario.controls.cantidad.touched">
                Este campo es obligatorio
            </div>
        </div>

<!-- hi UNIDAD -->
        <div class="col-6">
            <label for="inUnidad">Unidades:</label>
            <input type="text" class="form-control"
            id="inUnidad"
            formControlName="unidad">
        </div>
    </div>

<!-- no OBSERVACINES -->
    <label for="inObservaciones">Observaciones</label>
    <textarea 
        cols="30" rows="5" placeholder="Observaciones..."
        class="form-control"
        formControlName="observaciones">
    </textarea>

<!-- pl IMAGEN -->
<div class="row">
    <div class="col">
<!-- pl IMAGEN -->
        <br>
        <label for="inImagen" class="form-label">Default file input example</label>
        <input class="form-control" type="file" id="inImagen" (change)="onChange($event)">
    </div>
    <div class="col" *ngIf="imgUrl && imgUrl !== ''">
        <img [src]="imgUrl" width="300" height="300" alt="Ninguna imagen seleccionada">
      </div>
</div>
<br>


<!-- ac BOTÓN SUBMIT -->
    <button type="submit" class="btn btn-primary"
    [disabled]="formulario.invalid">
        Probar
    </button>

</form>
<!-- ps TERMINA FORMULARIO -->
    </div>
</div>
